.bundle/
.idea
log/*.log
pkg/
demo/db/*.sqlite3
demo/doc/screenshots/**/*.committed.png
demo/doc/screenshots/**/*.latest.png
demo/log/*.log
demo/tmp/
*.gem
.rbenv-gemsets
*.swp
/Gemfile.lock
test/gemfiles/*.lock
gemfiles/*.lock
/.ruby-version
Vagrantfile
.vagrant
.yarnrc

# For the demo app.

# Ignore uploaded files in development.
demo/storage/*
!demo/storage/.keep

demo/public/assets
.byebug_history

# Ignore master key for decrypting credentials and more.
demo/config/master.key
demo/public/packs
demo/public/packs-test
demo/app/assets/builds/*
!demo/app/assets/builds/.keep
demo/node_modules
demo/yarn-error.log
demo/yarn-debug.log*
demo/.yarn-integrity
demo/vendor/bundle

# For stuff that gets created if using the Dockerfile image
.bundle/
.cache/
vendor/bundle

# or .local/share/pry/pry_history if you need to be more exact
.local/
.irb_history
.byebug_history
# For Debian images with Bash
.bash_history
# For Alpine images
.ash_history
.sqlite_history

docker-compose.override.yml
