language: ruby
rvm:
  - 1.9
  - 2.0
  - 2.1
  - 2.2
  - 2.3.1
gemfile:
  - gemfiles/4.0.gemfile
  - gemfiles/4.1.gemfile
  - gemfiles/4.2.gemfile
  - gemfiles/5.0.gemfile
matrix:
  exclude:
    - rvm: 1.9
      gemfile: gemfiles/5.0.gemfile
    - rvm: 2.0
      gemfile: gemfiles/5.0.gemfile
    - rvm: 2.1
      gemfile: gemfiles/5.0.gemfile
  include:
    # Run Danger only once
    - rvm: 2.3.1
      gemfile: gemfiles/5.0.gemfile
      script: bundle exec danger
before_install:
  - gem install bundler --conservative --version '~> 1.10'
before_script:
  - bundle exec rake -f test/dummy/Rakefile db:create db:migrate RAILS_ENV=test
